@tailwind base;
@tailwind components;
@tailwind utilities;

*{
   margin : 0;
   padding: 0;
   box-sizing : border-box;
   font-family : sans-serif;
   --uib-color: #6556CD;
}

html,body{
   height : 100%;
   width : 100%;
}

::-webkit-scrollbar{
    width: 8px;
    height: 8px;
    overflow: hidden;
}

::-webkit-scrollbar-thumb{
    background: rgb(172, 173, 172);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
    cursor: pointer;
    background: var(--uib-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newtons-cradle {
    width: 200px;
    height: 200px;
}

.newtons-cradle__dot {
    height: 100%;
    width: 25%;
    transform-origin: center top;
}

.newtons-cradle__dot::after {
    content: '';
    display: block;
    width: 100%;
    height: 25%;
    border-radius: 50%;
    background-color: var(--uib-color);
}

.newtons-cradle__dot:first-child {
    animation: swing 1.2s linear infinite;
}

.newtons-cradle__dot:last-child {
    animation: swing2 1.2s linear infinite;
}

@keyframes swing {
    0% {
        transform: rotate(0deg);
        animation-timing-function: ease-out;
    }
    25% {
        transform: rotate(70deg);
        animation-timing-function: ease-in;
    }
    50% {
        transform: rotate(0deg);
        animation-timing-function: linear;
    }
}

@keyframes swing2 {
    0% {
        transform: rotate(0deg);
        animation-timing-function: linear;
    }
    50% {
        transform: rotate(0deg);
        animation-timing-function: ease-out;
    }
    75% {
        transform: rotate(-70deg);
        animation-timing-function: ease-in;
    }
}

@media screen and (max-width: 500px) {
    .newtons-cradle {
        --uib-size: 150px;
    }
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #27272a;
    background-image: none;
    flex: 1;
    padding: 0 0.5em;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
}
    
select::-ms-expand {
    display: none;
}
    
.select {
    position: relative;
    display: flex;
    width: 20em;    
    height: 3em;
    line-height: 3;
    background: #27272a;
    overflow: hidden;
    border-radius: 0.25em;
}

    
.select::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #27272a;
    cursor: pointer;
    pointer-events: none;
    transition: 0.25s all ease;
}
.select:hover::after {
    color: #6556cd;
}